@import url('https://fonts.googleapis.com/css?family=Cousine:400,700|Roboto+Slab:700');

html, body {
    font-family: "Cousine", monospace;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.8;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    transition: 750ms all;
    background-color: #000;
    padding: 10px;
    margin: 5vw;
    font-size: 12px;
}
@media (min-width: 640px) {
    body {
        padding: 20px;
        font-size: 14px;
    }
}
a {
    color: red;
}
a:hover {
    color: darkred;
}
h1, span.logo {
    text-align: center;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h1, h2, h3 {
    text-rendering: optimizeLegibility;
    font-family: "Roboto Slab", serif;
    font-weight: 900;
    line-height: 1.1;
    color: #111111;
    font-feature-settings:"liga" 0;
    margin: 4.25rem auto 1.25rem;
    /*letter-spacing: -0.025em;*/
    text-transform: uppercase;
}
@media (min-width:640px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 28px;
        margin-top: 8rem;
    }
}


img {
    width: 100%;
}

p, mark, ul, ol {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
p, mark {
    color: #444444;
}
strong {
    color: #111111;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: circle;
}
ol {
    padding: 0 0 0 1.5rem;
    margin-top: 4.25rem;
}
ol > li {
    margin-bottom: 3.25rem;
}
small {
    font-size: 14px;
    font-size: 0.7rem;
}
.content {
    min-height: calc(100vh - 40px);
    padding: 20px;
    background-color: #fff;
}
.footer {
    display: inline-block;
    padding-top: 1rem;
    color: #fff;
}
.notfound.content > p {
    text-align: center;
}
@media (min-width: 640px) {
    .content {
        padding: 40px;
    }
}
span.logo {
    font-family: "Cousine", monospace;
    letter-spacing: 0.01em;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    display: block;
    color: #999;
}
span:hover span {
    color: #777;
    letter-spacing: -3px;
    opacity: 1;
    padding-right: 4px;
    padding-right: 0.2rem;
}
fieldset {
    background-color: rgba(255, 255, 0, .05);
    border: 1px solid #ddd;
    text-align: center;
}
legend {
    font-size: 14px;
    font-size: 0.7rem;
    background-color: rgba(255, 255, 0, .05);
    box-shadow: 0 0 10px 1px rgba(255, 255, 0, .05);
    padding: 0 5px;
}